img {
  border-radius: 50%;
  position: relative;
  top: 40px;
}

@media (max-width: 500px) {
  img {
    display: none;
  }
}

.basic-container {
  padding: 10px;
}
.mat-button {
  font-size: 28px !important;
}
