<div>
  <div class="cert-columns">
    @for (col of [].constructor(columns); track col; let i = $index) {
      <div class="masonry-column">
        @for (cert of certificateImages | masonry : columns : i + 1; track cert) {
          <div>
            <div class="cert-cell">
              <a routerLink="/certificate/{{ cert.image }}"> <img src="{{ cert.image }}" /></a>
              <div>
                <span>{{ cert.description }}</span>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
