<h2>About</h2>
<p>
  As a Software Engineer in the field of High Tech, my knowledge and passion lie
  within the software side of products.
</p>
<p>
  Colleagues see me as an enthusiastic, driven and inventive person. I am
  persistent and I am capable of working under pressure. With knowledge of
  web-technologies like Javascript and HTML/CSS, I utilised these techniques to
  build an intelligent webapp. For the self-learning aspects of the webapp, I
  used SPARQL queries and RDFS tuples. I am also active in C++ and Python for
  writing driver software and testing.
</p>
<p>
  I graduated in Artificial Intelligence at VU University Amsterdam. For my
  Master thesis, I gained hands-on experience with designing and developing open
  source frameworks. At High Tech Sogeti, I want to devise innovative and
  intelligent solutions to assist customers or consumers. Further interests
  include implementing techniques such as self-learning algorithms and machine
  learning.
</p>
